<div class="container">
  <section class="descripcion">
    <h3>Soy Carlos Alberto Prost</h3>
    <p>
      Desarrollador full stack con una sólida experiencia en el diseño,
      implementación y mantenimiento de aplicaciones web de alta calidad. Con
      habilidades técnicas y una gran pasión por la tecnología.
    </p>
    <p>
      Destaco por la creación de aplicaciones web personalizadas utilizando
      tecnologías como HTML, CSS, JavaScript, Angular, Node.js y MySQL. Con un
      enfoque en la usabilidad y la escalabilidad, soy capaz de crear soluciones
      tecnológicas de vanguardia que superan las expectativas de mis clientes.
    </p>
    <p>
      Soy buenos trabajando en equipo, proponiendo soluciones eficientes para el
      desarrollo de Software. Mi capacidad para comunicarme claramente con los
      miembros del equipo y los clientes es parte clave para garantizar el éxito
      del proyecto.
    </p>
    <p>
      En mi tiempo libre, sigo aprendiendo y explorando nuevas tecnologías para
      mejorar aún más mis habilidades técnicas y mantenerme actualizado en un
      campo que cambia rápidamente.
    </p>
  </section>
  <section class="img">
    <img src="../../../assets/perfil.png" alt="" />
  </section>
</div>
