<div class="container">
  <section class="descripcion">
    <h3>Soy Carlos Alberto Prost</h3>
    <p>
      un desarrollador Full Stack con amplios conocimientos en tecnologías web.
      Me apasiona crear soluciones personalizadas para los clientes y siempre
      estoy buscando nuevas formas de mejorar mis habilidades y conocimientos en
      el área.
    </p>
    <p>
      Mis habilidades técnicas incluyen HTML, CSS y Javascript, y tengo
      conocimientos avanzados en el framework Angular del lado del Front-End.
      Por el lado del Back-End, tengo experiencia en NodeJS, ExpressJs, NestJs y
      manejo bases de datos en MySql y MariaDB. Soy capaz de crear y manejar API
      REST y trabajar con la manipulación de datos.
    </p>
    <p>
      Además, tengo experiencia en el desarrollo de aplicaciones de escritorio
      usando ElectronJS. Conozco cómo implementar los conocimientos mencionados
      anteriormente para crear soluciones robustas y personalizadas.
    </p>
    <p>
      También tengo experiencia en el desarrollo de aplicaciones móviles en
      Android, utilizando Kotlin como mi lenguaje principal. Soy capaz de crear
      aplicaciones nativas y personalizadas para satisfacer las necesidades
      específicas de los clientes.
    </p>
    <p>
      Me considero una persona orientada a los detalles, apasionado por la
      tecnología y siempre dispuesto a aprender cosas nuevas. Me aseguro de que
      cada proyecto sea entregado con la máxima calidad, en tiempo y forma.
    </p>
    <p>
      Si está buscando un desarrollador Full Stack con habilidades en
      tecnologías web, ElectronJS y desarrollo móvil, no dude en ponerse en
      contacto conmigo. Estaré encantado de discutir cómo puedo ayudar a hacer
      realidad sus proyectos tecnológicos.
    </p>
  </section>
  <section class="img">
    <img src="../../../assets/perfil.png" alt="" />
  </section>
</div>
