@import "../../../../node_modules//@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-purple);
$app-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary, 900);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

.container {
  width: 100vw;
  height: 450px;
  background-color: black;
  display: flex;
  flex-direction: column;

  .complete {
    width: 100%;
    height: 90%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      border-bottom: 4px solid $accent;
    }
    a::before {
      border-bottom: 4px solid $accent;
    }
    .a-selected {
      border-bottom: 4px solid $accent;
    }
  }

  .foot {
    width: 100%;
    height: 10%;
    max-height: 30px;
    padding: 0 20px;
    margin-bottom: -10px;
  }
}
