<div class="container">
  <section class="complete">
    <div class="mapa">
      <h3>Mapa del sitio</h3>
      <ul>
        <li><a mat-button href="#about">Sobre mí</a></li>
        <li><a mat-button href="#proyects">Proyectos</a></li>
        <li><a mat-button href="#skills">Skills</a></li>
        <li><a mat-button href="#contact">Contacto</a></li>
      </ul>
    </div>
  </section>
  <section class="foot">
    <span
      >&copy; 2023 | Todo los derechos estan resevados. Power By
      {{ author }}</span
    >
  </section>
</div>
