@import '../../node_modules//@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-purple);
$app-warn:    mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary, 900);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(36, 36, 35);
    
}

.topbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 5px 0.3px $accent;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer{
    width: 100%;
}

mat-divider{
    background-color: $accent;
    width: 100ch;
    margin: auto;
}




