<main class="main">
    <app-menu class="topbar"></app-menu>
<app-toolbar [author]="author" id="inicio"></app-toolbar>

<section class="about" id="about">
    <app-about></app-about>
</section>


<section class="proyects" id="proyects">
    <app-proyects></app-proyects>
</section>


<section class="skills" id="skills">
    <app-skills></app-skills>
</section>


<section class="contact" id="contact">
    <app-contact></app-contact>
</section>
</main>

<div class="footer">
    <app-footer id="footer"></app-footer>
</div>