$primary: #6DB1FF;
$succes: #3CC951;
$info: #43C1F1;
$warning: #F7F022;
$danger: #F73C3C;

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-titulo {
    width: 90%;
    text-align: center;
    color: $primary;

    .titulo {
      font-size: 3em;
    }

    .subtitulo {
      font-size: 2em;
    }

    .skills {
      font-size: 2em;
    }
  }
}
