<div class="container">
    <h1>Proyectos</h1>
    <div class="cards">
        <div class="tarjeta">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Pokerama</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/proyects/pokerama.png" alt="Pokerama">
                <mat-card-content>
                    <p>El clasico juego de memoria con los personjes de Pokemon. Hecho con HTML, CSS y JavaScript.</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="accent">Repositorio</button>
                    <button mat-raised-button color="accent">Demo</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="tarjeta">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Pokedex</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/proyects/pokedex.png" alt="Pokedex">
                <mat-card-content>
                    <p>Listado de Pokemon, desarrollado en Angular, consumiendo API PokeAPIV.2.</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="accent">Repositorio</button>
                    <button mat-raised-button color="accent">Demo</button>
                </mat-card-actions>
            </mat-card>
        </div>



        <div class="tarjeta">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Piedra, Papel y Tijera</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/proyects/PiedraPapelYTijera.png" alt="Piedra, Papel Y Tijera">
                <mat-card-content>
                    <p>Juego clasico de "Piedra, Papel y Tijera", desarrollado en HTML, CSS y JavaScript.</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="accent">Repositorio</button>
                    <button mat-raised-button color="accent">Demo</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="tarjeta">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Generador de Contraseñas</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/proyects/Generador de Contraseñas.png"
                    alt="Generador De Contraseñas">
                <mat-card-content>
                    <p>Generador de contraseñas desarrollado en HTML, CSS y JavaScript</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="accent">Repositorio</button>
                    <button mat-raised-button color="accent">Demo</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>