<div class="container">
    <h1>Skills</h1>
    <div class="skills">
        <img src="../../../assets/skills/html.png" alt="html" width="100">
        <img src="../../../assets/skills/css.png" alt="css" width="100">
        <img src="../../../assets/skills/javascript.png" alt="javascript" width="100">


        <a href="https://angular.io/"><img src="../../../assets/skills/angular.png" alt="Angular" width="100"></a>
        <a href="https://material.angular.io/"><img src="../../../assets/skills/angular-material.svg" alt="angular-material" width="100"></a>
        <a href="https://getbootstrap.com/"><img src="../../../assets/skills/bootstrap.png" alt="bootstrap" width="100"></a>
        <a href="https://nodejs.org/"><img src="../../../assets/skills/nodejs.png" alt="nodejs" width="100"></a>
        <a href="https://www.electronjs.org/"><img src="../../../assets/skills/electronjs.png" alt="electronjs" width="100"></a>
        <a href="https://git-scm.com/"><img src="../../../assets/skills/git.png" alt="git" width="100"></a>
        <a href="https://www.mysql.com/"><img src="../../../assets/skills/mysql.png" alt="mysql" width="100"></a>
    </div>
</div>