<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span class="spacer"></span>
  <mat-nav-list>
    <a class="a" mat-button href="#inicio">Inicio</a>
    <a class="a" mat-button href="#about">Sobre mí</a>
    <a class="a" mat-button href="#proyects">Proyectos</a>
    <a class="a" mat-button href="#skills">Skills</a>
    <a class="a" mat-button href="#contact">Contacto</a>
  </mat-nav-list>
  <div class="social-buttons-menu">
    <a
      mat-icon-button
      class="example-icon favorite-icon"
      href="https://github.com/carlosprost/"
      aria-label="github"
      color="accent"
      target="_blank"
    >
      <img src="../../../assets/social/github_PNG40.png" alt="github" />
    </a>
    <a
      mat-icon-button
      class="example-icon favorite-icon"
      href="https://www.linkedin.com/in/carlos-alberto-prost-746700141/"
      aria-label="linkedin"
      color="accent"
      target="_blank"
    >
      <img src="../../../assets/social/logo_likedin.png" alt="linkedin" />
    </a>
    <a
      mat-icon-button
      class="example-icon favorite-icon"
      href="https://twitter.com/CPMCMLXXXVIII"
      aria-label="linkedin"
      color="accent"
      target="_blank"
    >
      <img src="../../../assets/social/logo_twitter.png" alt="" />
    </a>
  </div>
</mat-toolbar>
