$primary: #6DB1FF;
$succes: #3CC951;
$info: #43C1F1;
$warning: #F7F022;
$danger: #F73C3C;

.spacer {
    flex: 1 1 auto;
}

.a{
    text-decoration: none;
}
.a:hover{
    border-bottom: 4px solid $warning;
}
.a::before{
    border-bottom: 4px solid $warning;
}
.a-selected{
    border-bottom: 4px solid $warning;
}
